.mainContainer {
  margin: 94px 120px 546px 120px;

  .tableContainer {
    background-color: white;
    width: 1360px;
    box-shadow: 0 4px 5px #E9EDF3;
    border-radius: 8px;
    margin-top: 21px;
    padding: 26px 40px 56px 40px;
  }
}