.mainContainer {
  width: 240px;
  background: #091336;

  .logoContainer {
    margin: 20px 0 0 12px;
  }

  .navContainer {
    display: flex;
    flex-direction: column;
    margin-top: 30px;

    .inactiveMenu {
      opacity: 0.4;
    }

    .activeMenu {
      background: rgba(216, 228, 251, 0.32);
      position: relative;

      &:before {
        position: absolute;
        content: '';
        background: #005FF8;
        width: 3px;
        height: 52px;
        left: 0;
        top: 0;
      }

      &:after {
        position: absolute;
        content: '';
        background: #FFD500;
        box-shadow: 0 3px 8px rgba(237, 218, 1, 0.5);
        width: 8px;
        height: 8px;
        border-radius: 50%;
        left: 205px;
      }
    }

    a {
      height: 20px;
      padding: 15px 0 17px 14px;
      text-decoration: none;
      display: flex;
      align-items: center;
      justify-content: space-between;

      span {
        margin-right: 22px;
        width: 170px;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        color: white;
      }
    }
  }

  .buttonsContainer {
    margin-top: 64px;
    display: flex;
    flex-direction: column;
    padding: 0 20px;

    button {
      margin-bottom: 32px;
      background: #005FF8;
      border-radius: 4px;
      border: none;
      display: flex;
      align-items: center;
      cursor: pointer;

      span {
        padding: 13px 0 15px 0;
        font-weight: 500;
        font-size: 16px;
        line-height: 148%;
        color: white;
        width: 156px;
      }
    }
  }
}